.bigbox{
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100vw;
  padding: 0.5rem;
}
.Samsung{
  display: flex;
  /* background-color: red; */
  justify-content:center ;
  align-items: center;
  height:60vh;
  width:100%; 
   /* border: 1px solid black; */
  /* box-shadow: 2px 3px; */
 
}
.Samsung-details{
  display: flex;
  /* background-color:blue; */
  justify-content: center;
  align-items: center;
  /* height:50vh;
  width:60%;
  border: 1px solid black;
  box-shadow: 2px 3px;
  margin-bottom: 1rem; */
}
.img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 30%;
}