.bigbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #ccc; */
  height: 38vh;
  width: 20rem;
  background-color: white;
  padding: 3rem;
  border: 3rem solid #ccc;
}
.DP{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 100%;
  background-color: white;
}
.DP > img{
  height: 9rem;
}
.name{
  font-family: 'Cedarville Cursive', cursive;
  font-size: 12px;
}
.field{
  font-family: 'Amita', cursive;
}
.info{
  font-size: 15px;
}